.root {
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 100dvh;
  top: 0px;
  left: 0px;
}

.rootWithParent {
  z-index: 99;
}

.rootDisable {
  display: none;
}

.closeContainer {
  z-index: 999;
}

.close {
  position: absolute !important;
  opacity: 1;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 14px;
  top: 6px;
  content: ' ';
  height: 19px;
  width: 2px;
  background-color: #000;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.headerClose {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  width: 65%;
  height: 100%;
  max-width: 1300px;
  background-color: white;
  z-index: 10;

  > div {
    flex-shrink: 0;
    position: relative;
  }
  right: 0px;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 15px 10px;
  color: black;
  flex: 0 0 auto;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.child {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  overflow: hidden;
  height: calc(100% - 999px);

  > * {
    flex-shrink: 0;
  }
}

.footer {
  display: flex;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
  flex: 0 0 auto;
}

.contentAnimationSlideUpIn {
  animation: slideUpIn 0.4s forwards;
}

.contentAnimationSlideDownIn {
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideDownIn 0.4s forwards;
}

.contentAnimationSlideLeftIn {
  top: 0px;
  animation: slideLeftIn 0.4s forwards;
}

.contentAnimationSlideRightIn {
  top: 0px;
  animation: slideRightIn 0.4s forwards;
}

.contentAnimationSlideUpOut {
  animation: slideUpOut 0.4s forwards;
}

.contentAnimationSlideDownOut {
  left: 50%;
  transform: translate(-50%, -50%);
  animation: slideDownOut 0.4s forwards;
}

.contentAnimationSlideLeftOut {
  top: 0px;
  animation: slideLeftOut 0.4s forwards;
}

.contentAnimationSlideRightOut {
  top: 0px;
  animation: slideRightOut 0.4s forwards;
}

@keyframes slideUpIn {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 0%;
  }
}

@keyframes slideDownIn {
  0% {
    top: -100%;
    left: 50%;
  }

  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes slideLeftIn {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}

@keyframes slideRightIn {
  0% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes slideUpOut {
  0% {
    bottom: 0%;
  }

  100% {
    bottom: -100%;
  }
}

@keyframes slideDownOut {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  100% {
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes slideLeftOut {
  0% {
    right: 0%;
  }

  100% {
    right: -100%;
  }
}

@keyframes slideRightOut {
  0% {
    left: 0%;
  }

  100% {
    left: -100%;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 15px;
  }
}
@media only screen and (max-width: 550px) {
  .content {
    width: 100%;
    max-width: 100%;
  }
}