.option {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.selected {
  color: white;
}