.dropdown {
  position: fixed;
  z-index: 999;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: all 0.2s linear;
  overflow-y: auto;
  max-height: 200px;
  background-color: #fff;
  list-style-type: none;
}
