html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

body {
  --theme-primary-bg-color1: #eff6ff;
  --theme-bg-color2: #40c5f1;
  --theme-bg-color3: #cfe4fa;
  --theme-primary-color: #040405;
  --theme-txt-color1: #546a78;
  --theme-txt-color2: #25252b;
  --theme-txt-color3: #fafafa;
  --theme-txt-color4: #ccc;
  font-family: 'Montserrat', sans-serif;
}

p,
h3,
ul,
li {
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 25px;
  line-height: 1;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: normal;
}