.DrawerWrapper {
    width: 100%;
    max-width: 250px;
    height: 100%;
    overflow-x: hidden;
    background: #001529;
}

.DrawerWrapper::-webkit-scrollbar {
    width: 5px;
    // border-radius: ;
}

.DrawerWrapper::-webkit-scrollbar-track {
    background: transparent;
}

.DrawerWrapper::-webkit-scrollbar-thumb {
    background: #ddd;
    visibility: hidden;
}

.DrawerWrapper:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}