$formWidth: 350px;

.root {
  display: flex;
  width: 100vw;
  height: 100dvh;
  position: relative;
  background-color: #b4e6fd;
  font-size: calc(1.2vw + 10px);
  overflow: hidden;

  .overlay {
    width: 100%;
    position: fixed;
    height: 100%;
    background-image: url('../../../public/assets/images/wave.jpg');
    // background-position: -5rem -10rem;
    background-position: -5rem center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mask {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    mask-image: url('../../../public/assets/svg/wave.svg');
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: right;
    background-color: #1E4296
  }

  .descriptionWrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7%;
    right: calc(#{$formWidth} + 10rem);
    gap: 2rem;
    width: 100%;
    max-width: 400px;
    font-size: inherit;
    text-align: right;

    >div {
      display: flex;
      flex-direction: column;
      gap: 10px;

      >h3 {
        font-size: 3rem;
        font-weight: 500;
        color: #0c2657;
        padding: 0;
        margin: 0;
      }
    }

    >p {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 300;
      color: #0c2657;
    }

  }

  .formContainer {
    --theme-color: white;

    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0px;
    flex-shrink: 0;
    width: 100%;
    max-width: $formWidth;
    padding: 30px 20px;
    height: 100%;
    color: var(--theme-color);
    font-size: inherit;

    .logoContainer {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 30px 0px;

      .logo {
        width: 50px;
        height: 50px;
        background-color: var(--theme-color);
        ;
        mask-image: url('../../../public/assets/svg/whale.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
      }
    }


    .row {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      margin-bottom: 30px;
      width: fit-content;
      cursor: pointer;
    }

    .col {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      margin-bottom: 15px;
      gap: 5px;

      >p {
        font-size: 16px;
      }
    }

    .inputWrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      max-width: 350px;
      // gap: 10px;

      >* {
        flex-shrink: 0;
      }

      >p {
        font-size: 16px;
      }
    }

    .divider {
      height: 1px;
      width: 100%;
      background-color: #eee;
      margin: 25px auto;
    }

    .forgetpw {
      font-size: 12px;
      margin: 20px 0px 10px 0px;
    }

    .loginBtn {
      display: inline-flex;
      height: 40px;
      border-radius: 6px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
    }
  }

  .langWrapper {
    display: flex;
    position: fixed;
    right: 40px;
    top: 10px;
    line-height: 1.5;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;

    .opiton {
      user-select: none;
      cursor: pointer;
    }

    .divider {
      width: 1px;
      height: 16px;
      background-color: #aaa;
    }
  }
}

@media only screen and (min-width:1600px) {
  .root {
    .descriptionWrapper {
      right: calc(#{$formWidth} + 20rem);
      font-size: calc(1.5vw + 10px);
    }
  }
}

@media only screen and (max-width:1200px) and (min-height: 850px) {
  .root {
    .overlay {
      background-size: auto 80%;
      background-position: -5rem bottom;
    }
  }
}

@media only screen and (max-width:1000px) {
  .root {
    .overlay {
      background-size: auto 70%;
      background-position: left bottom;
    }

    .descriptionWrapper {
      position: relative;
      right: unset;
      text-align: start;
      left: 4%;
    }

    .formContainer {
      max-width: 300px;
    }
  }
}

@media only screen and (max-width:768px) {
  .root {

    .overlay,
    .mask,
    .descriptionWrapper {
      display: none;
    }

    .formContainer {
      --theme-color: var(--theme-txt-color2);
      position: relative;
      max-width: 100%;
    }
  }
}