.root {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;

    .inputWrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        max-width: 350px;

    }

    .loginBtn {
        display: inline-flex;
        margin-top: 10px;
        height: 40px;
        border-radius: 6px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }

    .langWrapper{
      display: flex;
      position: absolute;
      right: 40px;
      top: 10px;
      line-height: 1.5;
      font-size: 14px;
      justify-content: center;

      .opiton{
        user-select: none;
        cursor: pointer;
      }

      .divider{
        margin: 0px 10px;
      }
    }
}